.content_container {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    height: 100%;
    width: 100%;
}

.content_element {
    display: flex;
    flex-direction: row;

    width: 1000px;
    height: 1250px;

    background: linear-gradient(to bottom, #e6e7e8, #e2e4e4, #d4d4d4);
    color: rgb(90, 89, 89);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.40);

    border-radius: 3px;
}

.content_element_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    padding-left: 50px;
    font-family: Verdana;
    font-size: 15px;
}

.content_element_image {
    flex: 1;
}

.content_element_map {
    display: flex;
    flex-direction: row;

    width: 1000px;
    height: 550px;

    background: linear-gradient(to bottom, #e6e7e8, #e2e4e4, #d4d4d4);
    color: white;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.40);

    border-radius: 3px;
}

