.content_container {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    height: 100%;
    width: 100%;
}

.content_element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 1000px;
    height: 850px;

    background: linear-gradient(to right, #9d2929, #767878, #527764);
    color: white;

    border-radius: 50px;
    font-family: Verdana;
}

.content_element_image {
    flex: 1;
}
