body {
    background-color: lightgray;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: maroon;
    color: white;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: maroon;
    color: white;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
   color: green;
   text-decoration: none; 
}

a:visited {
    color: green;
    background-color: white;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}

